<h1>Home Buyig Advice</h1>
<ul>
  <li>
    <strong>Check Your Credit Score:</strong> A higher credit score can help you qualify for better
    mortgage rates
  </li>
  <br />
  <li>
    <strong> Set Realistic Budget: </strong> Calculate how much you can afford , including down
    payment, closign costs and monthly payments
  </li>
  <br />
  <li>
    <strong>Get Pre-Approved:</strong>Secure a mortgage pre-approval to show the sellers you are a
    serious buyer
  </li>
  <br />
  <li>
    <strong>Understand All Costs</strong>Be aware of property taxes, insurance,HOA fees and
    maintenance expenses
  </li>
</ul>
